{{ define "main" }}
  <div role="main" class="container">

      <div class="aesthetic-windows-xp-modal">
          <!-- Title Bar -->
          <div class="aesthetic-windows-xp-modal-title-bar">
        
            <div class="aesthetic-windows-xp-modal-title-bar-text">
              I N D E X
            </div>
        
            <div class="aesthetic-windows-xp-modal-title-bar-controls">
              <div class="aesthetic-windows-xp-button-title-bar-close">
                <button onclick="this.parentElement.parentElement.parentElement.parentElement.remove();">
                  X
                </button>
              </div>
            </div>
        
          </div>
        
          <!-- Content -->
          <!-- Could be a tabbed container, or a set of dropdowns, etc... -->
          <div class="aesthetic-windows-xp-modal-content">
        
            {{ with .Content }}
              {{.}}
            {{ end }}
        
          </div>
        </div>
        <br>
        <div>   
            {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $pag.Pages }}
            <div class="aesthetic-windows-xp-modal">
              <div class="aesthetic-windows-xp-modal-title-bar">

                <div class="aesthetic-windows-xp-modal-title-bar-text">
                  P O S T - {{ .Title }}
                </div>
            
                <div class="aesthetic-windows-xp-modal-title-bar-controls">
                  <div class="aesthetic-windows-xp-button-title-bar-close">
                    <button onclick="this.parentElement.parentElement.parentElement.parentElement.remove();">
                      X
                    </button>
                  </div>
                </div>
              </div>

              <article>
                <a href="{{ .Permalink }}">
                  <h2 class="post-title">
                    {{ .Title }}
                  </h2>
                  {{ if .Params.subtitle }}
                    <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                    </h3>
                  {{ end }}
                </a>

                
                <div class="aesthetic-windows-xp-container">
                  {{ if .Truncated }}
                    {{ .Summary }}
                    <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                  {{ else }}
                    {{ .Content }}
                  {{ end }}
                </div>

                <hr>

                {{ partial "post_meta.html" . }}
                
                &nbsp;

                {{ if .Params.tags }}
                  <span class="post-meta">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                  {{ end }}
                  </span>
                {{ end }}
              </article>
            </div>
            <br>
            {{ end }}
          </div>
      </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="aesthetic-windows-95-button">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="aesthetic-windows-95-button">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
  </div>
{{ end }}
