body {
    // background-color: aqua;
}

#social-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        left: unset;
        a {
            text-decoration: none;
        }
    }
}

#start-button {
    text-decoration: none;
    color: black;
    &:hover {
        color: black;
    }
}
