{{ define "main" }}
    {{ with .Content }}
    <div class="well">
        {{.}}
    </div>
    {{ end }}
<div class="posts-list">
    {{ range .Paginator.Pages }}
    
    
    <div class="aesthetic-windows-xp-modal">
            <!-- Title Bar -->
            <div class="aesthetic-windows-xp-modal-title-bar">
          
              <div class="aesthetic-windows-xp-modal-title-bar-text">
                    {{ .Title }}
              </div>
          
              <div class="aesthetic-windows-xp-modal-title-bar-controls">
                <div class="aesthetic-windows-xp-button-title-bar-close">
                  <button onclick="this.parentElement.parentElement.parentElement.parentElement.remove();">
                    X
                  </button>
                </div>
              </div>
          
            </div>
          
            <!-- Content -->
            <!-- Could be a tabbed container, or a set of dropdowns, etc... -->
            <div class="aesthetic-windows-xp-modal-content">
          
                    <article>
                            <a href="{{ .Permalink }}">
                                <h2 class="post-title">{{ .Title }}</h2>
                    
                                {{ if .Params.subtitle }}
                                <h3 class="post-subtitle">
                                    {{ .Params.subtitle }}
                                </h3>
                                {{ end }}
                            </a>
                    
                            <div class="aesthetic-windows-xp-container">
                                {{ if .Truncated }}
                                {{ .Summary }}
                                <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                                {{ else }}
                                {{ .Content }}
                                {{ end }}
                            </div>
                    
                            <hr>
                    
                            <p class="post-meta">
                                {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
                            </p>
                    
                            {{ if .Params.tags }}
                            <span class="post-meta">
                                {{ range .Params.tags }}
                                #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                                {{ end }}
                            </span>
                            {{ end }}
                    
                        </article>
                    
            </div>
        </div>
<br>
       {{ end }}
</div>
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<ul class="pager main-pager">
    {{ if .Paginator.HasPrev }}
    <li class="previous">
        <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
    </li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li class="next">
        <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}
