{{ define "main" }}
    <article role="main" class="aesthetic-windows-xp-modal">
            <div class="aesthetic-windows-xp-modal-title-bar">

                    <div class="aesthetic-windows-xp-modal-title-bar-text">
                      {{ .Title }}
                    </div>
                
                    <div class="aesthetic-windows-xp-modal-title-bar-controls">
                      <div class="aesthetic-windows-xp-button-title-bar-close">
                        <button onclick="this.parentElement.parentElement.parentElement.parentElement.remove();">
                          X
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="aesthetic-windows-xp-container">
        {{ .Content }}
    </div>
    {{ partial "post_meta.html" . }}

    &nbsp;

    {{ if .Params.tags }}
      <span class="post-meta">
      {{ range .Params.tags }}
        #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
      </span>
    {{ end }}
    </article>

    <ul class="pager blog-pager">
    {{ if .PrevInSection }}
        <li class="aesthetic-windows-95-button">
        <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
        </li>
    {{ end }}
    {{ if .NextInSection }}
        <li class="aesthetic-windows-95-button">
        <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
        </li>
    {{ end }}
    </ul>
{{ end }}
