<footer>
    <div class="aesthetic-windows-95-taskbar">
        <div class="aesthetic-windows-95-taskbar-start">
            <a id="start-button" href="/">Start</a>
        </div>
        
        <div class="aesthetic-windows-95-taskbar-services">
                <ul id="social-links" class="fa-ul">
                        {{ range .Site.Data.beautifulhugo.social.social_icons }}
                        {{- if isset $.Site.Author .id }}
                        <li class="fa-li">
                            <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                        {{- end -}}
                        {{ end }}
                </ul>
        </div>
    </div>

</footer>
