{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}

<header>
    <a class="aesthetic-font-modifier-outline-black" href="/">
      {{ .Site.Title }}
    </a>
    {{ with $.Scratch.Get "title" }}
    <h1 class="aesthetic-effect-text-glitch" data-glitch="{{.}}">
      {{.}}
    </h1>
    {{ else }}
    <br>
    {{ end }}
</header>

<hr>
