<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- Site Title, Description, Author, and Favicon -->
  {{- with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . | truncate 70 }}" />
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
  {{- end }}
    <meta name="author" content="{{ .Site.Author.name }}"/>
  {{- with .Site.Params.favicon }}
    <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
  {{- end -}}
  <!-- Social Media Tags -->
  {{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
  {{- end }}
    <meta name="twitter:card" content="summary" />
  {{- with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}" />
    <meta name="twitter:creator" content="@{{ . }}" />
  {{- end }}
    <meta property="og:url" content="{{ .URL | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
  <!-- Hugo Version number -->
    {{ .Hugo.Generator -}}
  <!-- Links -->
    <link rel="canonical" href="{{ .URL | absLangURL }}" />
  <!-- Stylesheets: External -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!-- Stylesheets: Internal -->
  <link rel="stylesheet" href="{{ "css/aesthetic.css" | absURL }}" />
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  